[features]
mpi = ["dep:mpi", "dep:coupe", "ndelement/mpi"]
serde = ["dep:serde", "ndelement/serde", "dep:ron"]
strict = []

[package]
name = "ndgrid"
version = "0.1.1"
edition = "2021"
authors = ["Timo Betcke <timo.betcke@gmail.com>", "Srinath Kailasa <srinathkailasa@gmail.com>", "Matthew Scroggs <rust@mscroggs.co.uk>"]
description = "n-dimensional grid library."
license = "BSD-3-Clause"
homepage = "https://github.com/bempp/ndgrid"
repository = "https://github.com/bempp/ndgrid"
readme = "README.md"
keywords = ["numerics"]
categories = ["mathematics", "science"]

[lib]
name = "ndgrid"
crate-type = ["lib", "cdylib"]

[dependencies]
coupe = { version = "0.1", optional = true }
itertools = "0.13.*"
mpi = { version = "0.8.*", optional = true }
ndelement = "0.1.1"
num = "0.4"
rlst = { version = "0.2.0", default-features = false }
serde = { version = "1", features = ["derive"], optional = true }
ron = { version = "0.8", optional = true }

[dev-dependencies]
approx = "0.5"
paste = "1.*"

[build-dependencies]
cbindgen = "0.27.0"

[package.metadata.docs.rs]
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]

[lints.clippy]
wildcard_imports = "forbid"
